apiVersion: apps/v1
kind: Deployment
metadata:
  name: mariadb
  labels:
    app: mariadb
spec:
  replicas: 1
  selector:
    matchLabels:
      app: mariadb
  template:
    metadata:
      labels:
        app: mariadb
    spec:
      containers:
        - image: mariadb:10.6
          imagePullPolicy: IfNotPresent
          name: mariadb
          env:
            - name: MARIADB_ROOT_PASSWORD
              valueFrom:
                secretKeyRef:
                  key: database-password
                  name: mariadb
            - name: MARIADB_DATABASE
              value: 'dataflow'
          ports:
            - containerPort: 3306
              name: mariadb
          resources:
            requests:
              cpu: 2000m
              memory: 1Gi
          volumeMounts:
            - name: data
              mountPath: /var/lib/mysql
          args:
            - "--ignore-db-dir=lost+found"
            - "--character-set-server=utf8mb4"
            - "--collation-server=utf8mb4_unicode_ci"
      volumes:
        - name: data
          persistentVolumeClaim:
            claimName: mariadb
