{{#headerslength}}
# Generic Notes
{{/headerslength}}

{{#headers}}
**{{title}}**
{{body}}

{{/headers}}

# Dependent Projects and Compatibility
Component | Version
--- | ---
{{projects.spring_cloud_deployer.name}}|{{projects.spring_cloud_deployer.version}}
{{projects.spring_cloud_skipper.name}}|{{projects.spring_cloud_skipper.version}}
{{projects.spring_cloud_dataflow_ui.name}}|{{projects.spring_cloud_dataflow_ui.version}}
{{projects.spring_cloud_dataflow.name}}|{{projects.spring_cloud_dataflow.version}}

# Issues

{{#issues}}
* {{repo}}#{{number}} {{title}}
{{/issues}}

{{#footerslength}}
# Additional Notes
{{/footerslength}}

{{#footers}}
**{{title}}**
{{body}}

{{/footers}}
