<settings>
	<profiles>
		<profile>
			<id>stagingmilestone</id>
			<repositories>
				<repository>
					<id>spring-staging</id>
					<name>Spring Staging</name>
					<url>https://repo.spring.io/staging</url>
					<snapshots>
						<enabled>false</enabled>
					</snapshots>
				</repository>
				<repository>
					<id>spring-milestones</id>
					<name>Spring Milestones</name>
					<url>https://repo.spring.io/milestone</url>
					<snapshots>
						<enabled>false</enabled>
					</snapshots>
				</repository>
			</repositories>
			<pluginRepositories>
				<pluginRepository>
					<id>spring-staging</id>
					<name>Spring Staging</name>
					<url>https://repo.spring.io/plugins-staging</url>
					<snapshots>
						<enabled>false</enabled>
					</snapshots>
				</pluginRepository>
			</pluginRepositories>
		</profile>
		<profile>
			<id>stagingrelease</id>
			<repositories>
				<repository>
					<id>spring-staging</id>
					<name>Spring Staging</name>
					<url>https://repo.spring.io/staging</url>
					<snapshots>
						<enabled>false</enabled>
					</snapshots>
				</repository>
			</repositories>
			<pluginRepositories>
				<pluginRepository>
					<id>spring-staging</id>
					<name>Spring Staging</name>
					<url>https://repo.spring.io/plugins-staging</url>
					<snapshots>
						<enabled>false</enabled>
					</snapshots>
				</pluginRepository>
			</pluginRepositories>
		</profile>
	</profiles>
</settings>
