sudo: required
cache:
  directories:
    - $HOME/.m2
language: java
jdk:
  - openjdk8
install: true
script:
  - './mvnw package -Pfull -U -Dmaven.test.redirectTestOutputToFile=true'

after_success:
  - bash <(curl -s https://codecov.io/bash)
