# Worker which is dispatched from build-snapshot-controller workflow.
name: Build Snapshot Worker

on:
  workflow_dispatch:
    inputs:
      build-zoo-handler:
        description: 'Build Zoo Handler Payload'
        required: true

jobs:
  build:
    runs-on: ubuntu-latest
    steps:

    - uses: actions/checkout@v2
    - uses: actions/setup-java@v1
      with:
        java-version: 1.8
    - uses: jvalkeal/setup-maven@v1
      with:
        maven-version: 3.6.3
    - uses: jfrog/setup-jfrog-cli@v1
      with:
        version: 1.46.4
      env:
        JF_ARTIFACTORY_SPRING: ${{ secrets.JF_ARTIFACTORY_SPRING }}
    - name: Install pack
      uses: jvalkeal/build-zoo-handler@v0.0.4
      with:
        pack-version: 0.18.0

    # cache maven .m2
    - uses: actions/cache@v2
      with:
        path: ~/.m2/repository
        key: ${{ runner.os }}-m2-${{ hashFiles('**/pom.xml') }}
        restore-keys: |
          ${{ runner.os }}-m2-

    # target deploy repos
    - name: Configure JFrog Cli
      run: |
        jfrog rt mvnc \
          --server-id-deploy=repo.spring.io \
          --repo-deploy-releases=release \
          --repo-deploy-snapshots=snapshot
        echo JFROG_CLI_BUILD_NAME=spring-cloud-dataflow-main >> $GITHUB_ENV
        echo JFROG_CLI_BUILD_NUMBER=$GITHUB_RUN_NUMBER >> $GITHUB_ENV

    # zoo extract and ensure
    - name: Extract Zoo Context Properties
      uses: jvalkeal/build-zoo-handler@v0.0.4
      with:
        dispatch-handler-extract-context-properties: true

    # build and publish to configured target
    - name: Build and Publish
      run: |
        jfrog rt mvn clean install \
          -Pfull \
          -U -B
        jfrog rt build-publish
        echo BUILD_ZOO_HANDLER_spring_cloud_dataflow_version=$(mvn help:evaluate -Dexpression=project.version -q -DforceStdout) >> $GITHUB_ENV
        echo BUILD_ZOO_HANDLER_spring_cloud_dataflow_buildname=spring-cloud-dataflow-main >> $GITHUB_ENV
        echo BUILD_ZOO_HANDLER_spring_cloud_dataflow_buildnumber=$GITHUB_RUN_NUMBER >> $GITHUB_ENV

    # build images to local repo to get pushed
    - name: Build Images
      env:
        TAG: ${{ env.BUILD_ZOO_HANDLER_spring_cloud_dataflow_version }}
      run: |
        pack build \
          --path spring-cloud-dataflow-server/target/spring-cloud-dataflow-server-$TAG.jar \
          --builder gcr.io/paketo-buildpacks/builder:0.1.99-base \
          --env BP_JVM_VERSION=8 springcloud/spring-cloud-dataflow-server:$TAG-jdk8
        pack build \
          --path spring-cloud-dataflow-server/target/spring-cloud-dataflow-server-$TAG.jar \
          --builder gcr.io/paketo-buildpacks/builder:0.1.99-base \
          --env BP_JVM_VERSION=11 springcloud/spring-cloud-dataflow-server:$TAG-jdk11
        pack build \
          --path spring-cloud-dataflow-server/target/spring-cloud-dataflow-server-$TAG.jar \
          --builder gcr.io/paketo-buildpacks/builder:base \
          --env BP_JVM_VERSION=16 springcloud/spring-cloud-dataflow-server:$TAG-jdk16
        pack build \
          --path spring-cloud-dataflow-composed-task-runner/target/spring-cloud-dataflow-composed-task-runner-$TAG.jar \
          --builder gcr.io/paketo-buildpacks/builder:0.1.99-base \
          --env BP_JVM_VERSION=8 springcloud/spring-cloud-dataflow-composed-task-runner:$TAG-jdk8
        pack build \
          --path spring-cloud-dataflow-composed-task-runner/target/spring-cloud-dataflow-composed-task-runner-$TAG.jar \
          --builder gcr.io/paketo-buildpacks/builder:0.1.99-base \
          --env BP_JVM_VERSION=11 springcloud/spring-cloud-dataflow-composed-task-runner:$TAG-jdk11
        pack build \
          --path spring-cloud-dataflow-composed-task-runner/target/spring-cloud-dataflow-composed-task-runner-$TAG.jar \
          --builder gcr.io/paketo-buildpacks/builder:base \
          --env BP_JVM_VERSION=16 springcloud/spring-cloud-dataflow-composed-task-runner:$TAG-jdk16
        pack build \
          --path spring-cloud-dataflow-tasklauncher/spring-cloud-dataflow-tasklauncher-sink-kafka/target/spring-cloud-dataflow-tasklauncher-sink-kafka-$TAG.jar \
          --builder gcr.io/paketo-buildpacks/builder:0.1.99-base \
          --env BP_JVM_VERSION=8 springcloud/spring-cloud-dataflow-tasklauncher-sink-kafka:$TAG-jdk8
        pack build \
          --path spring-cloud-dataflow-tasklauncher/spring-cloud-dataflow-tasklauncher-sink-rabbit/target/spring-cloud-dataflow-tasklauncher-sink-rabbit-$TAG.jar \
          --builder gcr.io/paketo-buildpacks/builder:0.1.99-base \
          --env BP_JVM_VERSION=8 springcloud/spring-cloud-dataflow-tasklauncher-sink-rabbit:$TAG-jdk8
        pack build \
          --path spring-cloud-dataflow-tasklauncher/spring-cloud-dataflow-tasklauncher-sink-kafka/target/spring-cloud-dataflow-tasklauncher-sink-kafka-$TAG.jar \
          --builder gcr.io/paketo-buildpacks/builder:0.1.99-base \
          --env BP_JVM_VERSION=11 springcloud/spring-cloud-dataflow-tasklauncher-sink-kafka:$TAG-jdk11
        pack build \
          --path spring-cloud-dataflow-tasklauncher/spring-cloud-dataflow-tasklauncher-sink-rabbit/target/spring-cloud-dataflow-tasklauncher-sink-rabbit-$TAG.jar \
          --builder gcr.io/paketo-buildpacks/builder:0.1.99-base \
          --env BP_JVM_VERSION=11 springcloud/spring-cloud-dataflow-tasklauncher-sink-rabbit:$TAG-jdk11
        pack build \
          --path spring-cloud-dataflow-tasklauncher/spring-cloud-dataflow-tasklauncher-sink-kafka/target/spring-cloud-dataflow-tasklauncher-sink-kafka-$TAG.jar \
          --builder gcr.io/paketo-buildpacks/builder:base \
          --env BP_JVM_VERSION=16 springcloud/spring-cloud-dataflow-tasklauncher-sink-kafka:$TAG-jdk16
        pack build \
          --path spring-cloud-dataflow-tasklauncher/spring-cloud-dataflow-tasklauncher-sink-rabbit/target/spring-cloud-dataflow-tasklauncher-sink-rabbit-$TAG.jar \
          --builder gcr.io/paketo-buildpacks/builder:base \
          --env BP_JVM_VERSION=16 springcloud/spring-cloud-dataflow-tasklauncher-sink-rabbit:$TAG-jdk16
        pack build \
          --path spring-cloud-dataflow-single-step-batch-job/target/spring-cloud-dataflow-single-step-batch-job-$TAG.jar \
          --builder gcr.io/paketo-buildpacks/builder:0.1.99-base \
          --env BP_JVM_VERSION=8 springcloud/spring-cloud-dataflow-single-step-batch-job:$TAG-jdk8
        pack build \
          --path spring-cloud-dataflow-single-step-batch-job/target/spring-cloud-dataflow-single-step-batch-job-$TAG.jar \
          --builder gcr.io/paketo-buildpacks/builder:0.1.99-base \
          --env BP_JVM_VERSION=11 springcloud/spring-cloud-dataflow-single-step-batch-job:$TAG-jdk11
        pack build \
          --path spring-cloud-dataflow-single-step-batch-job/target/spring-cloud-dataflow-single-step-batch-job-$TAG.jar \
          --builder gcr.io/paketo-buildpacks/builder:base \
          --env BP_JVM_VERSION=16 springcloud/spring-cloud-dataflow-single-step-batch-job:$TAG-jdk16

    # docker hub login
    - uses: docker/login-action@v1
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}

    # push images
    - name: Push image
      env:
        TAG: ${{ env.BUILD_ZOO_HANDLER_spring_cloud_dataflow_version }}
      run: |
        docker push springcloud/spring-cloud-dataflow-server:$TAG-jdk8
        docker push springcloud/spring-cloud-dataflow-server:$TAG-jdk11
        docker push springcloud/spring-cloud-dataflow-composed-task-runner:$TAG-jdk8
        docker push springcloud/spring-cloud-dataflow-composed-task-runner:$TAG-jdk11
        docker tag springcloud/spring-cloud-dataflow-server:$TAG-jdk11 springcloud/spring-cloud-dataflow-server:$TAG
        docker tag springcloud/spring-cloud-dataflow-composed-task-runner:$TAG-jdk11 springcloud/spring-cloud-dataflow-composed-task-runner:$TAG
        docker push springcloud/spring-cloud-dataflow-server:$TAG
        docker push springcloud/spring-cloud-dataflow-composed-task-runner:$TAG
        docker push springcloud/spring-cloud-dataflow-server:$TAG-jdk16
        docker push springcloud/spring-cloud-dataflow-composed-task-runner:$TAG-jdk16
        docker push springcloud/spring-cloud-dataflow-tasklauncher-sink-kafka:$TAG-jdk8
        docker push springcloud/spring-cloud-dataflow-tasklauncher-sink-rabbit:$TAG-jdk8
        docker push springcloud/spring-cloud-dataflow-tasklauncher-sink-kafka:$TAG-jdk11
        docker push springcloud/spring-cloud-dataflow-tasklauncher-sink-rabbit:$TAG-jdk11
        docker push springcloud/spring-cloud-dataflow-tasklauncher-sink-kafka:$TAG-jdk16
        docker push springcloud/spring-cloud-dataflow-tasklauncher-sink-rabbit:$TAG-jdk16
        docker tag springcloud/spring-cloud-dataflow-tasklauncher-sink-kafka:$TAG-jdk11 springcloud/spring-cloud-dataflow-tasklauncher-sink-kafka:$TAG
        docker tag springcloud/spring-cloud-dataflow-tasklauncher-sink-rabbit:$TAG-jdk11 springcloud/spring-cloud-dataflow-tasklauncher-sink-rabbit:$TAG
        docker push springcloud/spring-cloud-dataflow-tasklauncher-sink-kafka:$TAG
        docker push springcloud/spring-cloud-dataflow-tasklauncher-sink-rabbit:$TAG
        docker push springcloud/spring-cloud-dataflow-single-step-batch-job:$TAG-jdk8
        docker push springcloud/spring-cloud-dataflow-single-step-batch-job:$TAG-jdk11
        docker tag springcloud/spring-cloud-dataflow-single-step-batch-job:$TAG-jdk11 springcloud/spring-cloud-dataflow-composed-task-runner:$TAG
        docker push springcloud/spring-cloud-dataflow-single-step-batch-job:$TAG
        docker push springcloud/spring-cloud-dataflow-single-step-batch-job:$TAG-jdk16

    # build/publish support images
    - name: Publish Grafana Prometheus
      uses: docker/build-push-action@v2
      with:
        context: src/grafana/prometheus/docker/grafana
        push: true
        tags: springcloud/spring-cloud-dataflow-grafana-prometheus:${{ env.BUILD_ZOO_HANDLER_spring_cloud_dataflow_version }}
    - name: Publish Grafana InfluxDB
      uses: docker/build-push-action@v2
      with:
        context: src/grafana/influxdb/docker/grafana
        push: true
        tags: springcloud/spring-cloud-dataflow-grafana-influxdb:${{ env.BUILD_ZOO_HANDLER_spring_cloud_dataflow_version }}
    - name: Publish Prometheus Local
      uses: docker/build-push-action@v2
      with:
        context: src/grafana/prometheus/docker/prometheus-local
        push: true
        tags: springcloud/spring-cloud-dataflow-prometheus-local:${{ env.BUILD_ZOO_HANDLER_spring_cloud_dataflow_version }}

    # zoo success
    - name: Notify Build Success Zoo Handler Controller
      uses: jvalkeal/build-zoo-handler@v0.0.4
      with:
        dispatch-handler-token: ${{ secrets.SCDF_ACCESS_TOKEN }}
        dispatch-handler-client-payload-data: >
          {
            "event": "build-succeed"
          }

    # zoo failure
    - name: Notify Build Failure Zoo Handler Controller
      if: ${{ failure() }}
      uses: jvalkeal/build-zoo-handler@v0.0.4
      with:
        dispatch-handler-token: ${{ secrets.SCDF_ACCESS_TOKEN }}
        dispatch-handler-client-payload-data: >
          {
            "event": "build-failed",
            "message": "spring-cloud-dataflow failed"
          }
    # clean m2 cache
    - name: Clean cache
      run: |
        find ~/.m2/repository -type d -name '*SNAPSHOT' | xargs rm -fr
