# Worker which is dispatched from build-snapshot-controller workflow.
name: Build Snapshot Worker

on:
  workflow_dispatch:
    inputs:
      build-zoo-handler:
        description: 'Build Zoo Handler Payload'
        required: true

jobs:
  build:
    runs-on: ubuntu-latest
    steps:

    - uses: actions/checkout@v2
    - uses: actions/setup-java@v1
      with:
        java-version: 1.8
    - uses: jvalkeal/setup-maven@v1
      with:
        maven-version: 3.6.3
    - uses: jfrog/setup-jfrog-cli@v1
      with:
        version: 1.43.2
      env:
        JF_ARTIFACTORY_SPRING: ${{ secrets.JF_ARTIFACTORY_SPRING }}
    - name: Install pack
      uses: jvalkeal/build-zoo-handler@v0.0.4
      with:
        pack-version: 0.18.0

    # cache maven .m2
    - uses: actions/cache@v1
      with:
        path: .m2
        key: ${{ runner.os }}-m2-${{ hashFiles('**/pom.xml') }}
        restore-keys: |
          ${{ runner.os }}-m2-

    # target deploy repos
    - name: Configure JFrog Cli
      run: |
        jfrog rt mvnc \
          --server-id-deploy=repo.spring.io \
          --repo-deploy-releases=release \
          --repo-deploy-snapshots=snapshot
        echo JFROG_CLI_BUILD_NAME=spring-cloud-dataflow-main >> $GITHUB_ENV
        echo JFROG_CLI_BUILD_NUMBER=$GITHUB_RUN_NUMBER >> $GITHUB_ENV

    # zoo extract and ensure
    - name: Extract Zoo Context Properties
      uses: jvalkeal/build-zoo-handler@v0.0.4
      with:
        dispatch-handler-extract-context-properties: true

    # build and publish to configured target
    - name: Build and Publish
      run: |
        jfrog rt mvn "-Dmaven.repo.local=.m2" -U -B clean install
        jfrog rt build-publish
        echo BUILD_ZOO_HANDLER_spring_cloud_dataflow_version=$(mvn help:evaluate -Dexpression=project.version -q -DforceStdout) >> $GITHUB_ENV
        echo BUILD_ZOO_HANDLER_spring_cloud_dataflow_buildname=spring-cloud-dataflow-main >> $GITHUB_ENV
        echo BUILD_ZOO_HANDLER_spring_cloud_dataflow_buildnumber=$GITHUB_RUN_NUMBER >> $GITHUB_ENV

    # build images to local repo to get pushed
    - name: Build Image
      env:
        TAG: ${{ env.BUILD_ZOO_HANDLER_spring_cloud_dataflow_version }}
      run: |
        pack build \
          --path spring-cloud-dataflow-server/target/spring-cloud-dataflow-server-$TAG.jar \
          --builder gcr.io/paketo-buildpacks/builder:base \
          --env BP_JVM_VERSION=8 springsource-docker-private-local.jfrog.io/spring-cloud-dataflow-server:$TAG
        pack build \
          --path spring-cloud-dataflow-composed-task-runner/target/spring-cloud-dataflow-composed-task-runner-$TAG.jar \
          --builder gcr.io/paketo-buildpacks/builder:base \
          --env BP_JVM_VERSION=8 springsource-docker-private-local.jfrog.io/spring-cloud-dataflow-composed-task-runner:$TAG

    # push images to private repo
    - name: Push image
      env:
        TAG: ${{ env.BUILD_ZOO_HANDLER_spring_cloud_dataflow_version }}
      run: |
        jfrog rt docker-push springsource-docker-private-local.jfrog.io/spring-cloud-dataflow-server:$TAG docker-private-local
        jfrog rt docker-push springsource-docker-private-local.jfrog.io/spring-cloud-dataflow-composed-task-runner:$TAG docker-private-local

    # zoo success
    - name: Notify Build Success Zoo Handler Controller
      uses: jvalkeal/build-zoo-handler@v0.0.4
      with:
        dispatch-handler-token: ${{ secrets.SCDF_ACCESS_TOKEN }}
        dispatch-handler-client-payload-data: >
          {
            "event": "build-succeed"
          }

    # zoo failure
    - name: Notify Build Failure Zoo Handler Controller
      if: ${{ failure() }}
      uses: jvalkeal/build-zoo-handler@v0.0.4
      with:
        dispatch-handler-token: ${{ secrets.SCDF_ACCESS_TOKEN }}
        dispatch-handler-client-payload-data: >
          {
            "event": "build-failed",
            "message": "spring-cloud-dataflow failed"
          }
