name: CI

on:
  workflow_dispatch:
  push:
    paths-ignore:
      - '.github/**'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    # cache maven repo
    - uses: actions/cache@v1
      with:
        path: .m2
        key: ${{ runner.os }}-m2-${{ hashFiles('**/pom.xml') }}
        restore-keys: |
          ${{ runner.os }}-m2-
    # jdk8
    - uses: actions/setup-java@v1
      with:
        java-version: 1.8
    # maven version
    - uses: jvalkeal/setup-maven@v1
      with:
        maven-version: 3.6.2
    # jfrog cli
    - uses: jfrog/setup-jfrog-cli@v1
      with:
        version: 1.46.4
      env:
        JF_ARTIFACTORY_SPRING: ${{ secrets.JF_ARTIFACTORY_SPRING }}
    # setup frog cli
    - name: Configure JFrog Cli
      run: |
        jfrog rt mvnc \
          --server-id-resolve=repo.spring.io \
          --server-id-deploy=repo.spring.io \
          --repo-resolve-releases=libs-release \
          --repo-resolve-snapshots=libs-snapshot \
          --repo-deploy-releases=release \
          --repo-deploy-snapshots=snapshot
        echo JFROG_CLI_BUILD_NAME=spring-cloud-skipper-main >> $GITHUB_ENV
        echo JFROG_CLI_BUILD_NUMBER=$GITHUB_RUN_NUMBER >> $GITHUB_ENV
        echo spring_cloud_skipper_version=$(mvn help:evaluate -Dexpression=project.version -q -DforceStdout) >> $GITHUB_ENV
    # build and publish
    - name: Build and Publish
      run: |
        jfrog rt mvn "-Dmaven.repo.local=.m2" -U -B clean install
        jfrog rt build-publish
    # build image to local repo to get pushed
    - name: Build Image
      env:
        TAG: ${{ env.spring_cloud_skipper_version }}
      run: |
        pack build \
          --path spring-cloud-skipper-server/target/spring-cloud-skipper-server-$TAG.jar \
          --builder gcr.io/paketo-buildpacks/builder:0.1.99-base \
          --env BP_JVM_VERSION=8 springcloud/spring-cloud-skipper-server:$TAG

    # docker hub login
    - uses: docker/login-action@v1
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}

    # push image
    - name: Push image
      env:
        TAG: ${{ env.spring_cloud_skipper_version }}
      run: |
        docker push springcloud/spring-cloud-skipper-server:$TAG
