name: CI

on:
  workflow_dispatch:
  push:
    paths-ignore:
      - '.github/**'

jobs:
  build:
    if: github.repository_owner == 'spring-cloud'
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Install pack
      uses: jvalkeal/build-zoo-handler@v0.0.4
      with:
        pack-version: 0.18.0
    # cache maven repo
    - uses: actions/cache@v2
      with:
        path: ~/.m2/repository
        key: ${{ runner.os }}-m2-${{ hashFiles('**/pom.xml') }}
        restore-keys: |
          ${{ runner.os }}-m2-
    # jdk8
    - uses: actions/setup-java@v1
      with:
        java-version: 1.8
    # maven version
    - uses: jvalkeal/setup-maven@v1
      with:
        maven-version: 3.6.2
    # jfrog cli
    - uses: jfrog/setup-jfrog-cli@v1
      with:
        version: 1.46.4
      env:
        JF_ARTIFACTORY_SPRING: ${{ secrets.JF_ARTIFACTORY_SPRING }}
    # setup frog cli
    - name: Configure JFrog Cli
      run: |
        jfrog rt mvnc \
          --server-id-resolve=repo.spring.io \
          --server-id-deploy=repo.spring.io \
          --repo-resolve-releases=libs-release \
          --repo-resolve-snapshots=libs-snapshot \
          --repo-deploy-releases=release \
          --repo-deploy-snapshots=snapshot
        echo JFROG_CLI_BUILD_NAME=spring-cloud-dataflow-main >> $GITHUB_ENV
        echo JFROG_CLI_BUILD_NUMBER=$GITHUB_RUN_NUMBER >> $GITHUB_ENV
        echo spring_cloud_dataflow_version=$(mvn help:evaluate -Dexpression=project.version -q -DforceStdout) >> $GITHUB_ENV
    # build and publish
    - name: Build and Publish
      run: |
        jfrog rt mvn -U -B clean install
        jfrog rt build-publish

    # build images to local repo to get pushed
    - name: Build Images
      env:
        TAG: ${{ env.spring_cloud_dataflow_version }}
      run: |
        pack build \
          --path spring-cloud-dataflow-server/target/spring-cloud-dataflow-server-$TAG.jar \
          --builder gcr.io/paketo-buildpacks/builder:0.1.99-base \
          --env BP_JVM_VERSION=8 springcloud/spring-cloud-dataflow-server:$TAG-jdk8
        pack build \
          --path spring-cloud-dataflow-server/target/spring-cloud-dataflow-server-$TAG.jar \
          --builder gcr.io/paketo-buildpacks/builder:0.1.99-base \
          --env BP_JVM_VERSION=11 springcloud/spring-cloud-dataflow-server:$TAG-jdk11
        pack build \
          --path spring-cloud-dataflow-composed-task-runner/target/spring-cloud-dataflow-composed-task-runner-$TAG.jar \
          --builder gcr.io/paketo-buildpacks/builder:0.1.99-base \
          --env BP_JVM_VERSION=8 springcloud/spring-cloud-dataflow-composed-task-runner:$TAG-jdk8
        pack build \
          --path spring-cloud-dataflow-composed-task-runner/target/spring-cloud-dataflow-composed-task-runner-$TAG.jar \
          --builder gcr.io/paketo-buildpacks/builder:0.1.99-base \
          --env BP_JVM_VERSION=11 springcloud/spring-cloud-dataflow-composed-task-runner:$TAG-jdk11

    # docker hub login
    - uses: docker/login-action@v1
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}

    # push images
    - name: Push image
      env:
        TAG: ${{ env.spring_cloud_dataflow_version }}
      run: |
        docker push springcloud/spring-cloud-dataflow-server:$TAG-jdk8
        docker push springcloud/spring-cloud-dataflow-server:$TAG-jdk11
        docker push springcloud/spring-cloud-dataflow-composed-task-runner:$TAG-jdk8
        docker push springcloud/spring-cloud-dataflow-composed-task-runner:$TAG-jdk11
        docker tag springcloud/spring-cloud-dataflow-server:$TAG-jdk11 springcloud/spring-cloud-dataflow-server:$TAG
        docker tag springcloud/spring-cloud-dataflow-composed-task-runner:$TAG-jdk11 springcloud/spring-cloud-dataflow-composed-task-runner:$TAG
        docker push springcloud/spring-cloud-dataflow-server:$TAG
        docker push springcloud/spring-cloud-dataflow-composed-task-runner:$TAG

    # build/publish support images
    - name: Publish Grafana Prometheus
      uses: docker/build-push-action@v2
      with:
        context: src/grafana/prometheus/docker/grafana
        push: true
        tags: springcloud/spring-cloud-dataflow-grafana-prometheus:${{ env.spring_cloud_dataflow_version }}
    - name: Publish Grafana InfluxDB
      uses: docker/build-push-action@v2
      with:
        context: src/grafana/influxdb/docker/grafana
        push: true
        tags: springcloud/spring-cloud-dataflow-grafana-influxdb:${{ env.spring_cloud_dataflow_version }}
    - name: Publish Prometheus Local
      uses: docker/build-push-action@v2
      with:
        context: src/grafana/prometheus/docker/prometheus-local
        push: true
        tags: springcloud/spring-cloud-dataflow-prometheus-local:${{ env.spring_cloud_dataflow_version }}
    # clean m2 cache
    - name: Clean cache
      run: |
        find ~/.m2/repository -type d -name '*SNAPSHOT' | xargs rm -fr
