name: Fix Deployment Files - master

on:
  push:
    branches:
      - master

jobs:
  build:

    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest]

    steps:
    - uses: actions/checkout@v2

    - name: Set up JDK 1.8
      uses: actions/setup-java@v1
      with:
        java-version: 1.8

    - name: Build with Maven
      run: mvn process-resources -P deploymentfiles

    - name: Check Deployment Files
      uses: peter-evans/create-pull-request@v3
      with:
        token: ${{ secrets.GITHUB_TOKEN }}
        commit-message: Update k8s deployment files
        committer: Spring Buildmaster <buildmaster@springframework.org>
        author: Spring Buildmaster <buildmaster@springframework.org>
        body: |
          Detected a change with `mvn process-resources -P deploymentfiles`.

          This PR were created to align k8s deployment file changes.
        title: 'Update k8s deployment files'
        labels: automated pr
        assignees: ilayaperumalg
        reviewers: jvalkeal,ilayaperumalg
        branch: github-actions/update-deployment-files

